@import "normalize.css";
@import "./reset.css";
@import "./variables.scss";

/* custom add */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "PingFang SC", "STHeitiSC-Light", "Helvetica-Light", arial, sans-serif,
    "Droid Sans Fallback", "LucidaGrande";
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
input {
  outline: none;
}
button {
  border-radius: 0;
}

/*  !viewport-units-buggyfill导致的ios不显示图片问题（https://github.com/rodneyrehm/viewport-units-buggyfill） */
img {
  content: normal !important;
}
